[submodule "gem5"]
	path = gem5
	url = https://gem5.googlesource.com/amd/gem5
	branch = agutierr/master-gcn3-staging
	ignore = dirty
[submodule "HIP"]
	path = HIP
	url = https://github.com/ROCm-Developer-Tools/HIP/
	ignore = dirty
[submodule "hipBLAS"]
	path = hipBLAS
	url = https://github.com/ROCmSoftwarePlatform/hipBLAS
[submodule "rocBLAS"]
	path = rocBLAS
	url = https://github.com/ROCmSoftwarePlatform/rocBLAS/
[submodule "MIOpenGEMM"]
	path = MIOpenGEMM
	url = https://github.com/ROCmSoftwarePlatform/MIOpenGEMM
[submodule "MIOpen"]
	path = MIOpen
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	ignore = dirty
[submodule "rocm-cmake"]
	path = rocm-cmake
	url = https://github.com/Radeonopencompute/rocm-cmake
[submodule "DNNMark"]
	path = DNNMark
	url = https://github.com/doody1986/DNNMark
